[Unit]
Description=Keyphy Access Control Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/keyphy service run-daemon
Restart=always
RestartSec=2
User=root
KillMode=mixed
TimeoutStopSec=30
OOMScoreAdjust=-1000
ProtectSystem=false
ProtectHome=false
NoNewPrivileges=false

[Install]
WantedBy=multi-user.target